#buttonsContainer{
    height: inherit;
    background-color: black;
    display: block;
}


#button-riemann {
    margin-top: 20px;
    width: 220px;
    margin-left: 10px;
}

#button-derivative {
    margin-top: 20px;
    width: 220px;
    margin-left: 10px;
}

#button-taylor {
    margin-top: 20px;
    width: 220px;
    margin-left: 10px;
}

.btn-success {
    width: 100px;
    margin-left: 60px;
}